---
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  pubDate: string;
}>;

// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
  </head>

  <body>
    <!-- Add other UI components here, like common headers and footers. -->
    <h1 class="text-2xl">{frontmatter.title}, by {frontmatter.author}</h1>
    
    <slot />
    <p>Written on: {frontmatter.pubDate}</p>
  </body>
</html>